
#logo {
	width: 300px;
	height: 50px;
	vertical-align: middle;
	margin-top: 20px;
}

ul li {
	display: inline-block;
}

ul {
	margin-top: -60px;
	float: right;
	margin-right: 10px;
}

a {
	color: black;
	padding: 10px;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 395;
}

footer {
	background-color: black;
	color: white;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
